@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background-color: black;
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Ppp';
  src: url('../public/PPPangaia-Bold.otf');
}

/* @layer components {
  .loader{
    @apply relative origin-center flex items-center justify-center 
  };
  .loader-inner{
    @apply relative origin-center flex items-center justify-center
  };
  .image-block{
    @apply relative origin-center flex items-center justify-center
  };
  .image-1{
    @apply w-[400px] left-[16%] bottom-[14%] sm:left-[4%] sm:bottom-[28%]
  };
  .image-2{
    @apply w-[1000px] left-[16%] bottom-[14%] sm:left-[4%] sm:bottom-[28%]
  };
  .image-3{
    @apply w-[400px] left-[16%] bottom-[14%] sm:left-[4%] sm:bottom-[28%]
  };
  .image-4{
    @apply w-[400px] left-[16%] bottom-[14%] sm:left-[4%] sm:bottom-[28%]
  };
  .image-5{
    @apply w-[400px] left-[16%] bottom-[14%] sm:left-[4%] sm:bottom-[28%]
  };
} */